<div class="container">
    <div class="row jumbotron">
        <div class="col-md-12 title">
            <span>Bem vindo</span>
        </div>
    </div>
    <div class="row jumbotron justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" [routerLink]="['/table-list']" routerLinkActive="router-link-active">
                <div class="row h-75">
                    <div class="img-icon col-md-3 d-flex align-items-center">
                        <span class="material-icons">
                        list
                        </span>
                    </div>
                    <div class="col-md-9 title-value">
                        <h6 class="card-category">Visualizar Tabela</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card">
                <div class="row">
                    <div class=" img-icon col-md-3 d-flex align-items-center">
                        <span class="material-icons">
                        dashboard
                        </span>
                    </div>
                    <div class="col-md-9 title-value">
                        <h6 class="card-category">Ver Estatísticas</h6>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card">
                <div class="row">
                    <div class=" img-icon col-md-3 d-flex align-items-center">
                        <span class="material-icons">
                        location_on
                        </span>
                    </div>
                    <div class="col-md-9 title-value">
                        <h6 class="card-category">Visualizar Mapa</h6>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>