/* .container-fluid {
    background-color: #AAAAAA;
} */

.img-icon,
.title-value {
    padding: 20px 30px;
}

.title-value {
    padding-left: 30px;
}

.title span {
    font-weight: 500;
    font-size: 20px;
}

.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 3px;
    color: #333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
}